body {
    margin-top: 40px;
}

form {
    padding: 20px;
}

.alert {
    margin: 20px 0;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

#tabs {
    margin: 40px auto;
    width: 480px;
}

#tabs h1 {
    margin: 0;
    padding: 20px;
}
